
        .divClass {
            font-size: 22px;
            font-family: Arial;
        }
        #thirdDiv {
            height: 500px;
            width: 800px;            
            background-color: rgb(187, 150, 31);
            padding: 30px;
            border-style: dashed;
            border-color: black;
            border-width: 2px;
            display: flex;
            justify-content: center;
        }
        #spanId {
            font-size: 18px;
            margin: 50px;
            padding: 5px;
        }